$white: #ffffff;
$azure: #00a0df;
$tomato: #e02020;
$black: #000000;
$royal: #0a2896;
$black-two: #1a1a1a;
$cerulean-blue: #3066BE;
$blue-blue: #1851c7;
$blue-blue-two: #1750c6;
$battleship-grey: #727887;
$off-white: #fff7e0;
$yellow-orange: #f7b500;
$light-peach: #fed6bb;
$bright-orange: #fa6400;
$apple-green: #7FB800;
$success-green: #076200;
$pale-grey: #e8ecf3;
$white-two: #d8d8d8;
$cloudy-blue: #c0c5d2;
// VTB colors
$vtb-red: #e21b1b;
$vtb-green: #6ac259;
$vtb-blue: #1a90ff;


$success-color: $vtb-green;
$danger-color: $vtb-red;

// кнопки
$btn-show-color: $vtb-blue;
$btn-show-active-color: $vtb-blue;
$btn-border-color: $cloudy-blue;
$btn-back-color: $vtb-blue;
$btn-operation-color: $black;
$switcher-success-color: $success-color;
$switcher-default-color: $battleship-grey;
$switcher-danger-color: $danger-color;
$check-btn-blue-color: $vtb-blue;
$yes-button-color: $vtb-green;
$no-button-color: $vtb-red;

// scrollbar
$scrollbar-color: $vtb-blue;

