$white: #ffffff;
$royal: #0a2896;
$azure: #00a0df;
$black: #000000;
$black-two: #1a1a1a;
$blue-blue: #1851c7;
$blue-blue-two: #1750c6;
$battleship-grey: #727887;
$off-white: #fff7e0;
$yellow-orange: #f7b500;
$light-peach: #fed6bb;
$bright-orange: #fa6400;
$tomato: #e02020;
$pale-grey: #e8ecf3;
$white-two: #d8d8d8;
$cloudy-blue: #c0c5d2;
