.btn {
  width: 240px;
  overflow: hidden;
  padding: 10px;
  border-radius: 5px;
  //margin-bottom: 5px;
  margin: 10px 5px;
  cursor: pointer;
  /*&:last-child {
    margin-bottom: 0;
  }*/
}

.btn-main-operation {
  @extend %flex-center-between;
  //border: 1px solid $white-two;
  transition: box-shadow 0.1s linear;
  padding: 0 5px;
  height: 40px;
  font-size: 14px;
  i {
    color: $vtb-blue;
    font-size: 20px;
    font-weight: lighter;
  }
  &__success {
    box-shadow: 0 0 10px rgba($yes-button-color, 0.3);
    &:hover {
      box-shadow: 0 0 10px rgba($yes-button-color, 0.5);
    }
  }
  &__notselected {
    box-shadow: 0 0 10px rgba($vtb-blue, 0.3);
    &:hover {
      box-shadow: 0 0 10px rgba($vtb-blue, 0.5);
    }
  }
  &__failed {
    box-shadow: 0 0 10px rgba($no-button-color, 0.3);
    &:hover {
      box-shadow: 0 0 10px rgba($no-button-color, 0.5);
    }
  }
}

.btn-back {
  @extend %flex-row-center;
  //@include button-color($btn-back-color);
  padding: 10px;
  font-size: 14px;
  border: 1px solid;
  transition: background-color 0.2s linear;
  span {
    margin-left: 10px;
  }
  &__success{
    color: $yes-button-color;
    border-color: $yes-button-color;
    background-color: rgba($yes-button-color, 0.1);
    &:hover {
      background-color: rgba($yes-button-color, 0.2);
    }
    &:active {
      background-color: $white;
    }
  }
  &__notselected{
    color: $vtb-blue;
    border-color: $vtb-blue;
    background-color: rgba($vtb-blue, 0.1);
    &:hover {
      background-color: rgba($vtb-blue, 0.2);
    }
    &:active {
      background-color: $white;
    }
  }
  &__failed{
    color: $no-button-color;
    border-color: $no-button-color;
    background-color: rgba($no-button-color, 0.1);
    &:hover {
      background-color: rgba($no-button-color, 0.2);
    }
    &:active {
      background-color: $white;
    }
  }
}

.btn-operation {
  @extend %flex-center-between;
  @include button-color($btn-operation-color);
}