.check {
  @extend %flex-column;
  &__ok-btn {
    @extend %ok-btn;
  }
  &__inactive-ok{
    @extend %check-btn;
    width: 50px;
    background-color: rgba($middle-gray, 0.2);
    border: 1px solid $check-btn-blue-color;
    cursor: default !important;
  }
  &__yesno-btn {
    @extend %flex;
    margin: 5px auto;
    justify-content: center;
    &__inactive_left {
      @extend %yes-no-btn;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      background-color: rgba($middle-gray, 0.2);
      cursor: default !important;
    }
    &__left {
      //@extend %yes-btn;
      @extend %yes-no-btn;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      &:hover {
        background-color: rgba($yes-button-color, 0.4);
      }
      &:active {
        background-color: rgba($yes-button-color, 0.8);
        color: $white;
      }
      transition: background-color $transition;
      transition: color $transition;
    }
    &__match_left {
      @extend %yes-no-btn;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      background-color: rgba($yes-button-color, 0.8);
      color: $white !important;
      cursor: default !important;
    }
    &__inactive_right {
      @extend %yes-no-btn;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      background-color: rgba($middle-gray, 0.2);
      cursor: default !important;
      border-left: none !important;
    }
    &__right {
      //@extend %no-btn;
      @extend %yes-no-btn;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-left: none !important;
      &:hover {
        background-color: rgba($no-button-color, 0.2);
      }
      &:active {
        background-color: rgba($no-button-color, 0.6);
        color: $white;
      }
      transition: background-color $transition;
      transition: color $transition;
    }
    &__match_right {
      @extend %yes-no-btn;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      background-color: rgba($no-button-color, 0.6);
      color: $white !important;
      cursor: default !important;
      border-left: none !important;
    }
  }
  &-btn-green{
    @extend %check-btn;
    width: 50px;
    color: $white!important;
    background: $vtb-green;
    border: 1px solid $vtb-green;
    cursor: default!important;
  }
  &-btn-red{
    @extend %check-btn;
    width: 50px;
    color: $white!important;
    background: $vtb-red;
    border: 1px solid $vtb-red;
    cursor: default!important;
  }
  &__input{
    width: 240px;
    height: 80px;
    border-radius: 4px;
    border: 1px solid $vtb-blue;
    margin: 0 5px 5px 5px;
    resize: vertical;
    &:focus{
      outline: none;
    }
  }
  &__text{
    display: flex;
    margin: 5px auto;
    justify-content: center;
    width: 240px;
    font-size: 13px;
  }
}