.switchers-layout {
  @extend %flex-column;
}

.switcher {
  @extend %flex-center-between;
  position: relative;
  margin-bottom: 5px;
  margin-right: 5px;
  // padding: 0 5px;
  // background: #eee;
  .switcher-button input[type="radio"] {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }
}

.switcher-wrap {
  @extend %flex;
  background: linear-gradient(90deg, $switcher-danger-color, $switcher-success-color);
  overflow: hidden;
  height: 20px;
  width: 60px;
  border-radius: 10px;
  color: $white;
  font-size: 20px;
  position: relative;
  z-index: 2;
  // transition: all 4s;
  .switcher-area {
    text-align: center;
    flex: 1;
  }
  .switcher-toggle {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: $white;
    top: 1px;
    left: 21px;
    transition: all .3s;
  }
}


.success-switcher {
  background: $switcher-success-color;
  // background: linear-gradient(45deg, #7dff5c, #076200);
}
.error-switcher {
  background: $switcher-danger-color;
  // background: linear-gradient(90deg, rgba(226,27,27,1) 0%, rgba(255,81,0,1) 100%);
}
.success-toggle {
  transform: translateX(20px);
}
.error-toggle {
  transform: translateX(-20px);
}