// *-enter-active = время анимации появления
// *-leave-active = время анимации исчезновения


// анимация появления кнопок операций
.operation-button-enter-active {
  transition: all 0.3s;
  // animation-delay: .5s;
}
// .operation-button-leave-active {
//   transition: all .4s;
//   // delay: .4s;
// }
.operation-button-enter /* .widen-item-leave-active в версии ниже 2.1.8 */ {
  transform: translateX(320px);
  // opacity: 0;
}
// .operation-button-leave-to {
//   transform: translateX(-50px);
//   opacity: 0;
// }
// ==========================


// анимация появления виджета
.show-widget-enter-active, .show-widget-leave-active {
  transition: all 0.2s;
}
.show-widget-enter, .show-widget-leave-to /* .widen-item-leave-active в версии ниже 2.1.8 */ {
  transform: translateY(-50px);
  height: 0;
  opacity: 0;
}
// .show-widget-leave-to {
//   transform: translateY(-50px);
//   height: 0;
//   opacity: 0;
// }
// ==========================


// анимация иконок свитчера
.icon-show-enter-active, .icon-show-leave-active {
  transition: all 0.3s;
}
.icon-show-enter, .icon-show-leave-to /* .widen-item-leave-active в версии ниже 2.1.8 */ {
  opacity: 0;
}
// .show-widget-leave-to {
//   transform: translateY(-50px);
//   height: 0;
//   opacity: 0;
// }
// ==========================
